<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fmdev.ArgsParser" version="0.2.3" targetFramework="net46" developmentDependency="true" />
  <package id="fmdev.XliffParser" version="0.4.4" targetFramework="net46" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net461" developmentDependency="true" />
</packages>